<nav class="navbar navbar-expand sticky-top mb-1 mb-md-5 bg-body-secondary shadow">
  <div class="container-fluid">
    <div class="d-flex">
      <a class="navbar-brand">Car Rental</a>
      <ul *ngIf="userName !== null" class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"
             [ngClass]="{ 'active': router.url === '/cars' }"
             routerLink="/cars"
          >Cars</a>
        </li>
        <li *ngIf="userRole !== 'mechanic'" class="nav-item">
          <a class="nav-link"
             [ngClass]="{ 'active': router.url === '/rents' }"
             routerLink="/rents"
          >Rents</a>
        </li>
        <li *ngIf="userRole !== 'mechanic'" class="nav-item">
          <a class="nav-link"
             [ngClass]="{ 'active': router.url === '/receipts' }"
             routerLink="/receipts"
          >Receipts</a>
        </li>
        <li *ngIf="userRole === 'admin'" class="nav-item">
          <a class="nav-link"
             [ngClass]="{ 'active': router.url === '/users' }"
             routerLink="/users"
          >Users</a>
        </li>
      </ul>
    </div>
    <div *ngIf="userName !== null" class="d-flex align-items-center">
      <span class="navbar-text me-2">{{ userName }}</span>
      <button class="btn btn-sm btn-primary" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
