<footer class="mt-1 mt-md-5 py-3 bg-body-secondary">
  <div class="container-md border-top">
    <div class="row px-5 pt-3">
      <div class="col-12 col-md-8 mb-3 mb-md-0">
        <h6 class="text-muted">Developers</h6>
        <ul class="nav flex-column">
          <li>
            <a
              class="nav-link p-0 text-muted"
              href="https://github.com/zanadoman"
              target="_blank"
            >Zana Domán (Z17V4D)</a>
          </li>
          <li>
            <a
              class="nav-link p-0 text-muted"
              href="https://github.com/plasku-dominik"
              target="_blank"
            >Plasku Dominik (AEEBES)</a>
          </li>
          <li>
            <a
              class="nav-link p-0 text-muted"
              href="https://github.com/BorsodiIstvan"
              target="_blank"
            >Borsodi István (F0M774)</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-2">
        <h5>Backend</h5>
        <ul class="nav flex-column">
          <li>
            <a
              class="nav-link p-0 text-muted"
              href="https://getcomposer.org/"
              target="_blank"
            >Composer</a>
          </li>
          <li>
            <a
              class="nav-link p-0 text-muted"
              href="https://laravel.com/"
              target="_blank"
            >Laravel</a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-md-2">
        <h5>Frontend</h5>
        <ul class="nav flex-column">
          <li>
            <a
              class="nav-link p-0 text-muted"
              href="https://laravel.com/"
              target="_blank"
            >npm</a>
          </li>
          <li>
            <a
              class="nav-link p-0 text-muted"
              href="https://angular.dev/"
              target="_blank"
            >Angular</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
